# Default ignored files
/shelf/
/workspace.xml
../.idea/*.xml
../src/main/resources/application-test05.properties
../src/main/resources/application-data_prod.properties
../src/main/resources/application-dev43.properties
../src/main/resources/application-dev82_0208.properties
../src/main/resources/application-host.properties
../src/main/resources/application-test01.properties
../src/main/java/com/lyj/test/*
../src/main/java/com/lyj/Test*.java


